<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />

	<appender name="json"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="com.jsonlogger.CustomJsonLayout">
			<jsonFormatter
				class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
				<prettyPrint>true</prettyPrint>
			</jsonFormatter>
			<timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
		</layout>
	</appender>

	<logger name="jsonLogger" level="TRACE">
		<appender-ref ref="json" />
	</logger>

</configuration>